<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>88410600202-qeufieqlo5dnisfqofn0af6h2hdhav0h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.88410600202-qeufieqlo5dnisfqofn0af6h2hdhav0h</string>
	<key>API_KEY</key>
	<string>AIzaSyD4VSS_C19N6uFZWKgLVpmddB8xCjAf4Iw</string>
	<key>GCM_SENDER_ID</key>
	<string>88410600202</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pcrgvgFlutter</string>
	<key>PROJECT_ID</key>
	<string>pcrgvg-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>pcrgvg-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:88410600202:ios:1728619d39bd0253f3c0f3</string>
</dict>
</plist>